@import "tailwindcss";

.menu {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  background-color: var(--color-violet-500);
  width: 100%;
  height: 5rem;
  border-radius: 0 0 10px 10px;

  .menu-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    .menu-title__text {
      color: var(--color-sky-50);
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 2rem;
    }
  }

  .menu-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    &__calculadora, &__fibonati, &__ponteiros-simples {
      button {
        border: 2px solid var(--color-violet-600);
        border-radius: 4px;
        &:hover {
          background-color: var(--color-violet-600);
          cursor: pointer;
        }
      }
      &__text {
        color: var(--color-sky-50);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 1.25rem;
        padding: 1rem;
      }
    }
  }
}
