<section>
  <div class="menu">
    <div class="menu-title">
      <h2 class="menu-title__text">CRUD</h2>
    </div>
    <div class="menu-options">
      <div class="menu-options__calculadora">
        <button (click)="goToCalculadora()"><span class="menu-options__calculadora__text">Calculadora</span></button>
      </div>
      <div class="menu-options__fibonati">
        <button (click)="goToFibonati()"><span class="menu-options__fibonati__text">Fibonati</span></button>
      </div>
      <div class="menu-options__ponteiros-simples">
        <button (click)="goToPonteirosSimples()"><span class="menu-options__ponteiros-simples__text">Ponteiros Simples</span></button>
      </div>
    </div>
  </div>
</section>
